{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<!-- The booking form that is used to make a booking -->
<section>
  <div class="container height mt-5 pt-2">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        {% if user.is_authenticated %}
        <h1>Make your Booking</h1>
        <div class="pt-2">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary account-btn" type="submit">Done</button>
        </form>
      </div>
        {% else %}
        <p>To make a reservation, please <a href="{% url 'account_login' %}">login</a>. If you have not
          created an account yet, then please <a href="{% url 'account_signup' %}">sign up.</a></p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endif %}
{% endblock %}