{% extends "base.html" %}

{% block content %}

<!-- Hero Image -->
<div class="hero-photo">

</div>
<!-- Welcome container -->
<div class="container mt-5">
    <div class="title">
        <h1>Welcome</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="https://res.cloudinary.com/drk0hx3um/image/upload/v1688826694/pp4/chef_sq_zaqx3j.webp" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h3>The 4th Fork: Galway's Modern Gem</h3>
            <p>Welcome to The 4th Fork, a modern and sophisticated restaurant located in the heart of Galway City.
                Our laid-back atmosphere and stylish decor make it the perfect place for a quick lunch or a relaxed
                dinner with colleagues. Our menu features fresh, locally-sourced ingredients and a variety of dishes
                to satisfy any palate. Whether you're in the mood for a light salad or a hearty steak, our chefs
                will prepare it to perfection. Come visit us at Olive & Oak and experience the perfect blend of
                casual elegance and culinary excellence.</p>
        </div>
    </div>
    <hr>
    <!-- Restaurant Menu -->
    <div class="text-center">
        <h1>Menu</h1>
    </div>

    <div class="container mt-6 mb-10 menu-tabs">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link active food-menu-link" data-toggle="tab" href="#tab1">Starters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link food-menu-link" data-toggle="tab" href="#tab2">Mains</a>
            </li>
            <li class="nav-item">
                <a class="nav-link food-menu-link" data-toggle="tab" href="#tab3">Desserts</a>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="tab1">
                <h4 class="text-center">Small Bites and Starters</h4>
                <table class="table-menu align-self-center">
                    <tbody>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Soup of the Day</strong><br>
                                With brown bread
                            </td>
                            <td class="dish-price">€6</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Seafood Chowder</strong><br>
                                With baked bread
                            </td>
                            <td class="dish-price">€9</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Smoked Salmon</strong><br>
                                With avocado, mix leaves, lemon and herb oil croutons.
                            </td>
                            <td class="dish-price">€12</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Crusted Brie</strong><br>
                                With salad & cranberry sauce
                            </td>
                            <td class="dish-price">€12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab2">
                <h4 class="text-center">Mains for Lunch and Dinner</h4>
                <table class="table-menu">
                    <tbody>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Classic Fish and Chips</strong><br>
                                Light crispy batter, tartar sauce, hand-cut chips, mushy peas
                            </td>
                            <td class="dish-price">€18</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Vegetable Curry</strong><br>
                                Lime leaf, ginger, chilli, lemongrass, and mixed vegetables with basmati rice
                                (vg)
                            </td>
                            <td class="dish-price">€14</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">King Prawn Linguine</strong><br>
                                In a rich tomato sauce finished with fresh basil, lemon and pepper
                            </td>
                            <td class="dish-price">€22</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Atlantic Medley</strong><br>
                                Salmon, hake, cod and Irish langoustine poached in a white wine and vegetables
                                broth, served with creamy mash potatoes and steamed vegetables
                            </td>
                            <td class="dish-price">€24</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Marinated Supreme Chicken</strong><br>
                                Served with champ potatoes, seasonal veg & chorizo sauce
                            </td>
                            <td class="dish-price">€21</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Wild Mushroom & Quinoa Risotto</strong><br>
                                Served with roasted seasonal vegetables (vg)
                            </td>
                            <td class="dish-price">€15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="tab3">
                <h4 class="text-center">Somenthing Sweet</h4>
                <table class="table-menu">
                    <tbody>
                        <td class="dish">
                            <strong class="dish-name">Chocolate Lava Cake</strong><br>
                            Served warm with a molten chocolate center
                        </td>
                        <td class="dish-price">€8</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Tiramisu</strong><br>
                                Traditional Italian dessert made with ladyfingers, mascarpone, and espresso
                            </td>
                            <td class="dish-price">€9</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Crème Brûlée</strong><br>
                                Vanilla custard topped with a caramelized sugar crust
                            </td>
                            <td class="dish-price">€7</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Apple Pie</strong><br>
                                Classic homemade apple pie with a flaky crust
                            </td>
                            <td class="dish-price">€8</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Cheesecake</strong><br>
                                Creamy New York-style cheesecake with a graham cracker crust
                            </td>
                            <td class="dish-price">€8</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Panna Cotta</strong><br>
                                Italian dessert made with sweetened cream and gelatin
                            </td>
                            <td class="dish-price">€7</td>
                        </tr>
                        <tr>
                            <td class="dish">
                                <strong class="dish-name">Fruit Tart</strong><br>
                                Fresh fruits on a buttery tart crust with pastry cream
                            </td>
                            <td class="dish-price">€9</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}