{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<section>
<div class="container mt-5">
  <div class="text-center">
  <h1>My Bookings</h1>
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h3>Manage your Bookings</h3>
          <div class="container">
            <div class="row">
              {% for booking in bookings %}
              <div class="card text-left shadow" style="width: 18rem; background-color: #f3ede1;">
                <div class="card-body">
                  <h5 class="card-title mb-3">Booking Confirmed:</h5>
                  <h6 class="card-subtitle"> Dear {{ booking.name }}</h6>
                  <p> <small class="text-muted">Here are the details of your booking</small></p>
                  <p class="lh-base">
                    On: <span class="fw-bold">{{ booking.date }} </span> <br>
                    At: <span class="fw-bold"> {{ booking.time }} </span><br>
                    Party of: <span class="fw-bold"> {{ booking.guests }} </span><br>
                    <span class="fw-bold">{{ booking.table}} seating</span></p>
                  <hr>
                    <p>Email: <span class="fw-bold">{{ booking.email }}</span><br>
                    Phone: <span class="fw-bold">{{ booking.phone }}</span></p>
                  </p>
                  <a href="/changebooking/{{booking.id}}" class="btn btn-primary">Change</a>
                  <!-- Button trigger modal -->
                  <a href="/deletebooking/{{booking.id}}" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#deleteModal_{{ booking.id }}">Delete</a>
  
                </div>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="deleteModal_{{ booking.id }}" tabindex="-1" aria-labelledby="deleteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog text-dark">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Booking</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Please confirm that you want to delete your booking!
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                      <a href="{% url 'delete' booking.id %}" class="btn btn-warning">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Show message if there are no bookings -->
              {% empty %} <p>You have no reservations currently</p>
              
              <p>To make a reservation, please <a href="{% url 'booking_page' %}">Create a booking</a>. </p>
             
  
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</section>
  


  {% endif %}
{% endblock %}
