{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<section>
  <div class="container mt-5 d-flex justify-content-center align-items-center">
    <div>
      <h1 class="text-center">Update Your Booking</h1>
      <div class="md-8">
        <form method="post" class="text-left">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
